.rsp
  &__icon
    display: flex
    align-items: center
    border: 1px solid #000
    width: 150px
    height: 150px
    box-shadow: 1px 1px 0 #000, 2px 2px 0 #000, 3px 3px 0 #000
    padding: 10px
    margin: 
      top: 20px
      left: 20px
  &__icon-img
    max-width: 100% 