.rsp
  &__icon
    display: flex
    align-items: center
    border: 1px solid #2f8
    width: 150px
    height: 150px
    box-shadow: 1px 1px 0 #2f8, 2px 2px 0 #2f8, 3px 3px 0 #2f8
    padding: 10px
    margin: 
      top: 20px
      left: 20px
  &__icon-img
    max-width: 100% 